*{
    padding: 0;
    margin: 0;
}
h1{
    text-align: center;
    text-shadow: 10px 10px 10px ;
    zoom: 1.3;
     color: red ;
     background-color: black;
     padding: 10px;
    
}

h3{
 float: right;
 margin: 20px;
 color: aliceblue;
 background-color: red;
 padding: 10px;
 border-radius: 30px;
 font-size:200%;
}
h2{
text-align: center;
    margin: 90px;
    color: aliceblue;
    background-color: rgba(15, 7, 7, 0.719);
    padding: 10px;
    border-radius: 30px;
    font-size:200%;
    margin-bottom: 10px;
   }

   p{
    text-align: center;
    font-size: large;
    margin-right: 10%;
    margin-left: 10%;

   }